<h1>applications</h1>
<% @applications.each do |application| %>
  <p><%= link_to application.posting.title, application_path(application) %></p>
  <p><%= application.posting.business.name %></p>
<% end %>

<%= link_to "Home", root_path %>
