<div id="page-content-wrapper">
<div class="container-fluid">
  <div class="row">
  <div class="col-lg-12">
    <h1>Your Applications</h1>
  <% @applications.each do |application| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "video.jpg", class:"avatar-square" %>
      <div class="caption">
        <p><%= link_to application.posting.title, application_path(application) %></p>
        <p><%= application.posting.business.name %></p>
      </div>
    </div>
  </div>
  <% end %>
  </div>
</div>
</div>
</div>

