.content {
  position: relative;
  display: flex;
  justify-content: space-around;
  background-color: white;
  margin: 20px;
  padding: 50px 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 0px lightgrey;
}


.share{
  position: absolute;
  right: 75px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
}

#share-icon {
  margin-top: 100px;
  width: 75px;
  height: 75px;
  padding:10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: inset 0 0 10px #000000;
  a{
    text-decoration: none;
  }
  &:hover{
  opacity: 0.8;
  background-color: orange;
  }
}

#qr-code {
  margin-top: 100px;
  width: 75px;
  height: 75px;
  padding:10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: inset 0 0 10px #000000;
  a{
    text-decoration: none;
  }
  &:hover{
  opacity: 0.8;
  background-color: orange;
  }
}

#qr-code-modal {
  width: 200px;
  height: 200px;
  padding:10px;
  background-color: white;
  a{
    text-decoration: none;
  }
  &:hover{
  opacity: 0.8;
  }
}

#url-icon {
  width: 75px;
  height: 75px;
  padding:10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: inset 0 0 10px #000000;
  a{
    text-decoration: none;
  }
  &:hover{
  opacity: 0.8;
  background-color: orange;
  }
}

#video-player{
  display: flex;
  flex-direction: column;
  padding: 5px;
  position:relative;
}

#short_url{
  font-size: 30px;
}

#above-video {
  display: flex;
  justify-content: space-between;
}

#modal-footer-flex {
  display:flex;
  justify-content: space-between;
}

// ========================================

#share-icon-sm {
  width: 40px;
  height: 40px;
  padding:10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: inset 0 0 10px #000000;
  a{
    text-decoration: none;
  }
  &:hover{
  opacity: 0.8;
  background-color: orange;
  }
}
#qr-code-sm {
  width: 40px;
  height: 40px;
  padding:10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: inset 0 0 10px #000000;
  a{
    text-decoration: none;
  }
  &:hover{
  opacity: 0.8;
  background-color: orange;
  }
}
#url-icon-sm {
  width: 40px;
  height: 40px;
  padding:10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: inset 0 0 10px #000000;
  a{
    text-decoration: none;
  }
  &:hover{
  opacity: 0.8;
  background-color: orange;
  }
}

.share-sm{
  right: 75px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 5px;
}













