<div class="box box-left">
  <div class="box-content box-profile-small">
    <p>Edit Profile</p>
    <hr>
    <p>Manage your CV</p>
    <hr>
    <p>Placeholder</p>
    <hr>
    <p>Placeholder</p>
  </div>
</div>
