<div class="box">
  <div class="box-video-image">
      <div class="row">
          <%= button_to 'View All Your Videos', videos_path, method: :get, class: "btn-span-width" %>
      </div>


    <div class="row box-row-vert-padded flexbox videos">
    <% current_user.videos.each do |video| %>
        <%= link_to external_path(video.url) do %>
          <%= image_tag "http://"+video.image_url, class: "img-thumbnail" %>
        <% end %>
      <% end %>
    </div>

  </div>
</div>

