<h1>New video for <%= current_user.first_name %> <%= current_user.last_name %></h1>
<%= render 'form' %>
<!-- begin video recorder code -->
<script type="text/javascript">
var size = {width:400,height:330};
var flashvars = {qualityurl: "avq/300p.xml",accountHash:"a456378d86f52b421fde92da590bbc0c", eid:1, showMenu:"true", mrt:120, payload: <%= current_user.id %>,sis:0,asv:1,mv:0};
(function() {var pipe = document.createElement('script'); pipe.type = 'text/javascript'; pipe.async = true;pipe.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 's1.addpipe.com/1.3/pipe.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pipe, s);})();
</script>
<div id="hdfvr-content" ></div>
<!-- end video recorder code -->
<input type="text" id="video_id">

