<div class="fixed-navbar">
  <div class="container">
    <div class="box" style="height: 100%">
      <!-- <h1>New video for <%#= current_user.first_name %> <%#= current_user.last_name %></h1> -->

      <ziggeorecorder
      id='ziggeo'
      ziggeo-width=640
      ziggeo-height=480
      ziggeo-tags='<%= current_user.id if current_user %>'>
      </ziggeorecorder>
    </div>
  </div>
</div>

