<footer class="footer">
  <ul class='list-inline'>
    <!-- <li><a href="#"><i class="fa fa-youtube"></i></a></li> -->
    <!-- <li><a href="#"><i class="fa fa-facebook"></i></a></li> -->
    <li><a href="https://twitter.com/beyondwithvideo"><i class="fa fa-twitter"></i></a></li>
    <li><a href="mailto:printul@gmail.com"><i class="fa fa-envelope"></i></a></li>
    <li><%= link_to "T&Cs", terms_path %> </li>
  </ul>
  <p>©be:yond</p>
</footer>
