<h3 class="text-center">Terms and conditions</h3>
<ul>
  <li>
    <p>
      By accessing and using the Site, you agree to be bound by the terms and conditions set forth below. If you do not wish to be bound by the agreement represented by these terms and conditions, you may not access the Site. Be:yond may modify the agreement at any time, and such modifications shall be effective immediately upon posting. You agree to review the agreement periodically to be aware of such modifications and your continued access shall be deemed your conclusive acceptance of the modified agreement. This Site was developed in accordance with and shall be governed by, and your accessing and using of the Site shall be deemed acceptance of the laws of England and Wales and use of this Site shall be brought exclusively in a court of competent jurisdiction sitting in England or Wales.
      <br><br>
      You may not use the Service and may not accept the Terms if (a) you are not of legal age to form a binding contract with be:yond, or (b) you are a person who is either barred or otherwise legally prohibited from receiving or using the Service under the laws of the country in which you are resident or from which you access or use the Service.
      <br><br>
      You agree that you will be solely responsible (to be:yond, and to others) for all activity that occurs under your be:yond account.
    </p>
  </li>
  <li>
    <p>
      These documents may include inaccuracies or errors. This website is prepared and provided "as is" without warranty of any kind, either express or implied, including but not limited to, fitness for a particular purpose, or non-infringement of any third party's rights of any kind. In no event shall be:yond be liable for any special, indirect or consequential damages whatsoever or any damages, whether in contract, tort or otherwise, arising out of or in connection with the use of the documents herein or your accessing, browsing in and use of this site.
    </p>
  </li>
  <li>
    <p>
      Be:yond will use reasonable efforts to include accurate and up to date information, but makes no warranties or representations as to its accuracy or completeness. Be:yond shall not be liable for damages of any kind arising out of your access, or inability to access, this Site or your reliance on the information in this Site. The services descriptions included are for the sole purpose of providing a general reference tool concerning the nature and type of services available from be:yond. The descriptions are not intended to be relied upon by potential clients. If you are interested in a particular service, please contact us.
    </p>
  </li>
  <li>
    <p>
      As you may be aware, no data transmission over the internet can be entirely secure. As a result, while we will always use reasonable endeavours to protect your personal information, we cannot guarantee that any information you submit to us will be free from unauthorised third party intrusion. Therefore, we cannot guarantee the security of your personal information and/or the use of this Site. You should ensure that you have appropriate protection against viruses and other security arrangements in place whilst using the internet. We make no guarantees that this Site is free from computer viruses. It is strongly recommended that you check for such viruses before downloading this Site or its contents.
    </p>
  </li>
  <li>
    <p>
      By entering, browsing and using this Site, you agree to our privacy policy. We may change this privacy policy from time to time without notification and therefore advise you to regularly review the policy when you visit this Site. We take your privacy and security seriously and comply with UK law in relation to processing personal data.
    </p>
  </li>
  <li>
    <p>
      We will only collect personal information from you which you have provided voluntarily by completing the forms on this Site, through your login with third party sites (Facebook, Linkedin etc) or sent to us via email. If you do not want your personal data to be collected, please do not submit it to us. If you supply personal details to us through this Site then you consent to our maintaining, recording, holding and using such personal data in accordance with our Privacy Policy below. For a small fee, you may request details of personal information which we hold about you under the Data Protection Act 1998.
    </p>
  </li>
  <li>
    <p>
      Be:yond will not retain the personal data obtained through this Site for longer than is necessary, unless there are compelling reasons or other legal obligations to retain the data for a longer period. For further information email admin@beyondtheresume.io
    </p>
  </li>
  <li>
    <p>
      We may monitor and/or keep records of email communications which you send to us and other communications with you in accordance with this policy and otherwise in the interests of our business.
    </p>
  </li>
  <li>
    <p>
      Data may be supplied to third party processors to collect, store and process your personal data. Be:yond works with these third parties processors to provide our services and enable security measures designed to safeguard your data, from risk of loss, destruction, unauthorised access, modifications or disclosure. Be:yond reserves the right to e-mail offers on behalf of third parties, where you have given consent to do so. We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so.
    </p>
  </li>
  <li>
    <p>
      Be:yond hereby grants you permission to access and use the Service, subject to the following express conditions, and you agree that your failure to adhere to any of these conditions shall constitute a breach of these Terms on your part:
      you agree not to distribute any part of or parts of the Website or the Service, including but not limited to any Content, in any medium without Be:yond's prior written authorisation, unless Be:yond makes available the means for such distribution through functionality offered by the Service (such as the Be:yond Player);
      <br><br>
      you agree not to alter or modify any part of the Website or any of the Service (including but not limited to the Be:yond Player and its related technologies);
      <br><br>
      you agree not to access Content through any technology or means other than the video playback pages of the Website itself, the Be:yond Player, or such other means as Be:yond may explicitly designate for this purpose;
      you agree not to use the Service (including the Be:yond Player) for any of the following commercial uses unless you obtain Be:yond's prior written approval:
      <ul>
        <li>• the sale of access to the Service</li>
        <li>• the sale of advertising, sponsorships or promotions placed on or within the Service, or Content;</li>
        <li>• the sale of advertising, sponsorships or promotions on any page of an ad-enabled blog or website containing Content delivered via the Service unless other material not obtained from Be:yond appears on the same page and is of sufficient value to be the basis for such sales</li>
        <li>• prohibited commercial uses shall not include (i) uploading an original video to Be:yond, (ii) maintaining an original video repository on the Website in order to promote a business or artistic enterprise, (iii) showing Be:yond videos through the Be:yond Player or otherwise on an ad-enabled blog or website</li>
      </ul>
      <br>
      you agree not to use or launch any automated system (including, without limitation, any robot, spider or offline reader) that accesses the Service in a manner that sends more request messages to the Be:yond servers in a given period of time than a human can reasonably produce in the same period by using a publicly available, standard (i.e. not modified) web browser;
      <br><br>
      you agree not to collect or harvest any personal data of any user of the Website or any Service (and agree that this shall be deemed to include Be:yond account names);
      <br><br>
      you agree not to solicit, for commercial purposes, any users of the Website with respect to their Content; and
      <br><br>
      you agree not to access Content or any reason other than your personal, non-commercial use solely as intended through and permitted by the normal functionality of the Service, and solely for Streaming. "Streaming" means a contemporaneous digital transmission of the material by Be:yond via the Internet to a user operated Internet enabled device in such a manner that the data is intended for real-time viewing and not intended to be downloaded (either permanently or temporarily), copied, stored, or redistributed by the user.
      <br><br>
      You shall not copy, reproduce, distribute, transmit, broadcast, display, sell, license, or otherwise exploit any Content for any other purposes without the prior written consent of Be:yond or the respective licensors of the Content.
    </p>
  </li>
  <li>
    <p>
      Be:yond is constantly innovating in order to provide the best possible experience for its users. You acknowledge and agree that the form and nature of the Service which Be:yond provides may change from time to time without prior notice to you.
      <br><br>
      As part of this continuing innovation, you acknowledge and agree that Be:yond may stop (permanently or temporarily) providing the Service (or any features within the Service) to you or to users generally at Be:yond's sole discretion, without prior notice to you. You may stop using the Service at any time. You do not need to specifically inform Be:yond when you stop using the Service.
      <br><br>
     You agree that you are solely responsible for (and that Be:yond has no responsibility to you or to any third party for) any breach of your obligations under the Terms and for the consequences (including any loss or damage which Be:yond may suffer) of any such breach.
    </p>
  </li>
  <li>
    <p>
      As a Be:yond account holder you may submit Content. You understand that whether or not Content is shared, Be:yond does not guarantee any confidentiality with respect to Content.
      <br><br>
      You retain all of your ownership rights in your Content, but you are required to grant limited licence rights to Be:yond. These are described in the Rights you licence paragraph.
      <br><br>
     You understand and agree that you are solely responsible for your own Content and the consequences of posting or publishing it. Be:yond does not endorse any Content or any opinion, recommendation, or advice expressed therein, and Be:yond expressly disclaims any and all liability in connection with Content.
      <br><br>
      You represent and warrant that you have (and will continue to have during your use of the Service) all necessary licenses, rights, consents, and permissions which are required to enable Be:yond to use your Content for the purposes of the provision of the Service by Be:yond, and otherwise to use your Content in the manner contemplated by the Service and these Terms.
      <br><br>
      You agree that you will not post or upload any Content which contains material which it is unlawful for you to possess in the country in which you are resident, or which it would be unlawful for Be:yond to use or possess in connection with the provision of the Service.
      <br><br>
      You agree that Content you submit to the Service will not contain any third party copyright material, or material that is subject to other third party proprietary rights (including rights of privacy or rights of publicity), unless you have a formal licence or permission from the rightful owner, or are otherwise legally entitled, to post the material in question and to grant Be:yond the licence referred to in paragraph below.
      <br><br>
      On becoming aware of any potential violation of these Terms, Be:yond reserves the right (but shall have no obligation) to decide whether Content complies with the content requirements set out in these Terms and may remove such Content and/or terminate a User's access for uploading Content which is in violation of these Terms at any time, without prior notice and at its sole discretion.
      <br><br>
      You further understand and acknowledge that in using the Service, you may be exposed to Content that is factually inaccurate, offensive, indecent, or otherwise objectionable to you. You agree to waive, and hereby do waive, any legal or equitable rights or remedies you have or may have against Be:yond with respect to any such Content.
    </p>
  </li>
  <li>
    <p>
    Rights you licence
    <br><br>
    When you upload or post Content to Be:yond, you grant: to Be:yond, a worldwide, non-exclusive, royalty-free, transferable licence (with right to sub-licence) to use, reproduce, distribute, prepare derivative works of, display, and perform that Content in connection with the provision of the Service and otherwise in connection with the provision of the Service and Be:yond's business, including without limitation for promoting and redistributing part or all of the Service (and derivative works thereof) in any media formats and through any media channels;
    </p>
  </li>
  <li>
    <p>
    Be:yond content on the Website
    <br><br>
    With the exception of Content submitted to the Service by you, all other Content on the Service is either owned by or licensed to Be:yond, and is subject to copyright, trade mark rights, and other intellectual property rights of Be:yond or Be:yond's licensors. Any third party trade or service marks present on Content not uploaded or posted by you are trade or service marks of their respective owners. Such Content may not be downloaded, copied, reproduced, distributed, transmitted, broadcast, displayed, sold, licensed, or otherwise exploited for any other purpose whatsoever without the prior written consent of Be:yond or, where applicable, Be:yond's licensors. Be:yond and its licensors reserve all rights not expressly granted in and to their Content.
    </p>
  </li>
  <li>
    <p>
      Ending your relationship with Be:yond
      <br><br>
      The Terms will continue to apply until terminated by either you or Be:yond as set out below.
      <br><br>
      If you want to terminate your legal agreement with Be:yond, you may do so by (a) notifying Be:yond at any time and (b) closing your Be:yond account. Your notice should be sent, in writing, to Be:yond's email address which is set out at the beginning of these Terms.
      <br><br>
      Be:yond may at any time terminate its legal agreement with you if:
      <ol>
        <li>
          you have breached any provision of the Terms (or have acted in manner which clearly shows that you do not intend to, or are unable to comply with the provisions of the Terms); or
        </li>
        <li>
          Be:yond is required to do so by law (for example, where the provision of the Service to you is, or becomes, unlawful); or
        </li>
      </ol>
      Be:yond may terminate its legal agreement with you if:
      <ol>
        <li>
          Be:yond is transitioning to no longer providing the Service to users in the country in which you are resident or from which you use the Service; or
        </li>
        <li>
          the provision of the Service to you by Be:yond is, in Be:yond's opinion, no longer commercially viable
          and in the case of each of A and B of this clause shall, where possible, give reasonable notice of such termination.
        </li>
      </ol>
      When these Terms come to an end, all of the legal rights, obligations and liabilities that you and Be:yond have benefited from, been subject to (or which have accrued over time whilst the Terms have been in force) or which are expressed to continue indefinitely, shall be unaffected by this cessation, and the provisions this paragraph shall continue to apply to such rights, obligations and liabilities indefinitely.
      <br>
      For anything related to the administration of your account including deletion please contact admin@beyondtheresume.io. Receipt of the request does not constitute a guarantee of the satisfactory execution of demands.
    </p>
  </li>
  <li>
    <p>
      Exclusion of Warranties
      <br><br>
      Nothing in the Terms shall affect any statutory rights that you are always entitled to as a consumer and that you cannot contractually agree to alter or waive.
      <br><br>
      The Service is provided "as is" and Be:yond makes no warranty or representation to you with respect to them.
      In particular Be:yond does not represent or warrant to you that:
      <ol>
        <li>your use of the Service will meet your requirements,</li>
        <li>your use of the Service will be uninterrupted, timely, secure or free from error,</li>
        <li>any information obtained by you as a result of your use of the Service will be accurate or reliable, and</li>
        <li>that defects in the operation or functionality of any software provided to you as part of the Service will be corrected.</li>
      </ol>
      No conditions, warranties or other terms (including any implied terms as to satisfactory quality, fitness for purpose or conformance with description) apply to the Service except to the extent that they are expressly set out in the Terms.
    </p>
  </li>
  <li>
    <p>
      Limitation of Liability
      <br><br>
      Nothing in these Terms shall exclude or limit Be:yond's liability for losses which may not be lawfully excluded or limited by applicable law.
      <br><br>
      Subject to the overall provision in paragraph above Be:yond shall not be liable to you for:
      <ol>
        <li>any indirect or consequential losses which may be incurred by you. This shall include; (i) any loss of profit (whether incurred directly or indirectly); (ii) any loss of goodwill or business reputation; (iii) any loss of opportunity; or (iv) any loss of data suffered by you;</li>
        <li>any loss or damage which may be incurred by you as a result of:
          <ol>
            <li>any changes which Be:yond may make to the Service, or for any permanent or temporary cessation in the provision of the Service (or any features within the Service);</li>
            <li>the deletion of, corruption of, or failure to store, any Content and other communications data maintained or transmitted by or through your use of the Service;</li>
            <li>your failure to provide Be:yond with accurate account information;</li>
            <li>your failure to keep your password or Be:yond account details secure and confidential.</li>
          </ol>
        </li>
      </ol>
      The limitations on Be:yond's liability to you in paragraph above shall apply whether or not Be:yond has been advised of or should have been aware of the possibility of any such losses arising.
    </p>
  </li>
  <li>
    <p>You agree that Be:yond may provide you with notices, including those regarding changes to the Terms, by email, regular mail, or postings on the Service.
    </p>
  </li>
  <li>
    <p>You agree that if Be:yond does not exercise or enforce any legal right or remedy which is contained in the Terms (or which Be:yond has the benefit of under any applicable law), this will not be taken to be a formal waiver of Be:yond's rights and that those rights or remedies will still be available to Be:yond.
    </p>
  </li>
  <li>
    <p>If any court of law, having the jurisdiction to decide on this matter, rules that any provision of these Terms is invalid, then that provision will be removed from the Terms without affecting the rest of the Terms. The remaining provisions of the Terms will continue to be valid and enforceable.
    </p>
  </li>
  <li>
    <p>You acknowledge and agree that each member of the group of companies of which Be:yond is a part shall be third party beneficiaries to the Terms and that such other companies shall be entitled to directly enforce, and rely upon, any provision of the Terms which confers a benefit on (or rights in favour of) them. Other than this, no other person or company shall be a third party beneficiary of the Terms.</p>
  </li>
</ul>
