<%# if user_signed_in?  %>
  <%# if current_user.business? %>
   <!--  <p><%#= link_to "My videos", videos_path %></p>
    <p><%#= link_to "My businesses", businesses_path %></p>
    <p><%#= link_to "All job postings", postings_path %></p> -->
  <%# end %>
<%# else %>
  <%= render "pages/landing" %>
<%# end %>
