<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<p><%= link_to "index", videos_path %></p>
<p><%= link_to "my biz", businesses_path %></p>
<p><%= link_to "All the postings", postings_path %></p>
