<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "index", videos_path %>
<%# if current_user.business? do %>
  <%#= link_to "My businesses", business_index_path %>
<%# end %>
<%= link_to "my biz", businesses_path %>
