// Your footer style
.footer {
  height: 60px;
  background-color: black;
  z-index: 1;
  bottom: 0;
  color: $white;
  font-size: 15px;
  padding: 15px;
  position: relative;
}

.footer ul {
  float: left;
}

.footer a{
  font-size: 20px;
  color: white;
}

.footer a:hover {
  color: white;
}

.footer p {
  margin-bottom: 0;
  float: right;
}
