.page-title-bar {
  position: fixed;
  top: 70px;
  left: 200px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid $light-gray;
  height: 40px;
  z-index: 2;

  span {
    vertical-align: middle;
  }

  hr {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 45%;
    margin-right: 45%;
    vertical-align: middle;
    border: 2px solid $orange;
  }
}

@media (min-width: 0px){

}


@media (min-width: 1200px){

}
