/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.box-row-padded {
  padding-right: 20px;
  padding-left: 20px;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.flex-default {
  display: flex;
  padding: 0;
}

.margin-left-zero {
  margin-left: 0;
}

.fixed-navbar {
  padding-top: 120px;
  min-height: 100vh;
  padding-bottom: 30px;
 }

.fixed-sidebar {
  margin-left: 200px;
}

.no-padding {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.flex-center {
  display: flex;
  justify-content: center;
}
// FLEXBOX
.flex-end {
  display: flex;
  justify-content: flex-end;
}
