#banner{
  margin-top: 70px;
  height: calc(100vh - 70px);
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  video {
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
  }

  div#banner_overlay {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      color: white;
    }

    p {
      font-size: 25px;
      font-weight: lighter;
    }
    a {
      width: 30%;
    }
  }
}

.button-container-down {
  position: relative;
  display: flex;
  justify-content: center;
  top: 160px;
  #button-down img {
    width: 60px;
    opacity: 0.6;
  }

  #button-down:hover {
    img {
      transition: 0.5s;
      opacity: 1;
    }
  }
}

#descriptor {
  height: 100px;
  width: 100px;
}

#arrow {
  height: 30px;
  width: 30px;
}


