.box {
  margin: 5px 5px;
  // box-shadow: 0px 0px 0px 1px rgba(200, 200, 200, 0.2);
  border-radius: 5px;
  padding: 10px;
  background-color: $white;
  height: 350px;

  a {
    text-decoration: none;
    color: $white;
    width: 100%;
  }
}

.box-content {
  margin: 20px;

  p {
    margin-bottom: 0;
  }

  hr {
    margin: 10px 0;
  }
}

.box-content h2, h3, h4 {
  margin-top: 0;
}

.box-content h4 {
  margin-bottom: 0;
}


.box-profile-small {
  height: 200px;
}

.box-blue {
  background: $blue;
  height: 40px;
  color: $white;
  padding: 10px 10px;
}

.box-left {
  padding-left: 0;
  padding-right: 5px;
}

.box-right {
  padding-right: 0;
  padding-left: 5px;
}

.box-title-skills {
  float: left;
}

.box-add-skill {
  float: right;
}

.box-row-vert-padded {
  padding: 20px 0;
}

.box-video {
  height: 200px !important;
}

.box-title-bar {
  height: 80px !important;
}

#video-sort {
    float: right;
}

.box-video:hover {
  opacity: 0.8;
}

.box-full-height {
   height: 100%;
}
