.btn {
  margin-bottom: 20px;
}

#btn-fb-login {
  color: white;
  background-color: #445897;
  text-decoration: none;
  padding: 20px;
}

.btn-span-width {
  color: $white;
  border-radius: 5px;
  background-color: #E67E22;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  height: 40px;
}

.btn-fit {
  color: $white;
  border-radius: 5px;
  background-color: $blue;
  padding: 10px;
  margin: 0;
  border: 0;
  height: 40px;
}

#async_btn {
  background-color: #E67E22;
}
