
.profile-container {
  background-color: white;
  border-radius: 4px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-top: 20px;
}

.profile-videos {
  .title-container {
    height: 5vh;
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    color: black;
    border-top: 1px solid #F78A03;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    h4 {
      margin: 0;
    }

  }
  .videos-container {
    padding: 10px;
    height: 75vh;
    overflow: scroll;
  }
}
.profile-info {
  // background-color: $orange-bg;
  height: 100%;
  padding-bottom: 15px;

}

.profile-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  height: 100%;
  img {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  }
}

.profile-content-right {
  padding: 0 20px;
  flex: 1 0 40%;
}

.profile-content-left {
  padding: 0 20px;
  flex: 1 0 60%;
}

.flex-row {
  display: flex;
  align-items: baseline;
}

.profile-skills {
  display: flex;
  justify-content: space-around;
}
.skill-card {
  padding: 15px 25px;
  background: white;
  border-top: 1px solid #F78A03;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  color: black;
  overflow-wrap: break-word;
  font-weight: 100;
}
.add-skill-btn {
  position: absolute;
  right: 5px;
  top: 5px;
}

.resume {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  // width: 40px;
}

.btn-upload {
  border-top: 1px solid #F78A03;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  color: black;
  background: white;
  font-weight: 100;
}

ul {
  list-style-type: none;
}

.document_upload_input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.document_upload_label {
  padding: 5px 10px;
  font-size: 1.25em;
  font-weight: 700;
  color: black;
  background-color: white;
  display: inline-block;
  border-radius: 4px;
}

.document_upload_label:hover {
   color: #F78A03;
}
