.skill {
  background-color: $white;
  margin-top: 10px;
  margin-bottom: 50px;
  border-radius: 2px;
  padding: 5px;
  border: 1px solid #E67E22;
  margin: 5px;

  span{
    color: black;
    font-weight: 100;
  }
}
