.video-recorder-initial .inner-container {
  background-color: white;
}

.ba-videorecorder-theme-elevate-chooser-primary-button {
  background-color: $brand-color !important;
}

.ba-videorecorder-theme-elevate-chooser-file {
  background-color: $brand-color !important;
}

.ba-videorecorder-theme-elevate-button-primary {
  background-color: $brand-color !important;
  font-size: 20px !important;
  border-radius: 5px !important;
}


