.ba-videorecorder-theme-elevate-chooser-container {
  background-color: $white !important;
}

.ba-videorecorder-theme-elevate-chooser-primary-button {
  display: none !important;
}

.ba-videorecorder-theme-elevate-chooser-secondary-button{
  display: none !important;
}

.ba-videoplayer-elevate-theme-rerecord-button {
  background-color: gray !important;
}

.ba-videorecorder-theme-elevate-button-primary {
  background-color: $orange !important;
  font-size: 20px !important;
  border-radius: 5px !important;
}

.ba-videoplayer-container {
  display: inline !important;
}
