// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/index";
@import "bootstrap-social";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "social-share-button";
@import "components/landing";

body {
  min-height: calc(100vh - 70px)
}


// Social buttons
$size: 50px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}
